body {
    /* background-color: #f2f2f2; */
}
.mar-l-5 {margin-left: 5px;}
.mar-l-10 {margin-left: 10px;}
.mar-1-15 {margin-left: 15px;}
.mar-r-5 {margin-right: 5px;}
.mar-r-10 {margin-right: 10px;}
.mar-r-15 {margin-right: 15px;}
.mar-b-5 {margin-bottom: 5px;}
.mar-b-10 {margin-bottom: 10px;}
.mar-b-15 {margin-bottom: 15px;}



/*
 * reset & extend bootstrap
 */
.modal {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-animation: all 0.75s 0s linear infinite;
    animation: all 0.75s 0s linear infinite;
}
.btn-black {
    color: #fff;
    background-color: #4c4c4c;
    border-color: #505050;
}
.btn-black:hover,.btn-black:active,.btn-black:visited,.btn-black:focus {
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}
.group-gap-sm .form-group {
    margin-bottom: 5px;
}
.list-group.hover .list-group-item:hover {
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer;
}

/*
 * switch button
 */
 .mui-switch {
     margin-top: 0px !important;
     outline: 0 !important;
     cursor: pointer;
    
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none; }
    .mui-switch:before {
      content: '';
      width: 29px;
      height: 29px;
      position: absolute;
      top: 0px;
      left: 0;
      border-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
    .mui-switch:checked {
      border-color: #64bd63;
      box-shadow: #64bd63 0 0 0 16px inset;
      background-color: #64bd63; }
      .mui-switch:checked:before {
        left: 21px; }
    .mui-switch.mui-switch-animbg {
      transition: background-color ease 0.4s; }
      .mui-switch.mui-switch-animbg:before {
        transition: left 0.3s; }
      .mui-switch.mui-switch-animbg:checked {
        box-shadow: #dfdfdf 0 0 0 0 inset;
        background-color: #64bd63;
        transition: border-color 0.4s, background-color ease 0.4s; }
        .mui-switch.mui-switch-animbg:checked:before {
          transition: left 0.3s; }
    .mui-switch.mui-switch-anim {
      transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
      .mui-switch.mui-switch-anim:before {
        transition: left 0.3s; }
      .mui-switch.mui-switch-anim:checked {
        box-shadow: #64bd63 0 0 0 16px inset;
        background-color: #64bd63;
        transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
        .mui-switch.mui-switch-anim:checked:before {
          transition: left 0.3s; }
.mui-switch-xs {
    width: 39px;
    height: 20px;
}
.mui-switch-xs:before {
    width: 18px;
    height: 18px;
}


/*
 * loading
 */
 @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
  
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
  
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
.loading {
    background-color: #797979;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid #8e8e8e;
    border-bottom-color: transparent;
    height: 25px;
    width: 25px;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite;
}

/*
 * for js
 */
[data-mod] {
    display: none;
}


.form-fieldset {
    padding: 15px;
    border: 1px dashed #ccc;
    border-radius: 3px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    background: #fafafa;
}

legend {
    margin-bottom: 0px;
    border: none;
    font-size: 13px;
    padding: 3px 10px;
    background: none;
    background-color: none;
    display: inline-block;
    width: auto;
    background: #525252;
    color: #fff;
    border-radius: 2px;
    font-weight: normal;
    box-shadow: 0px 1px 2px #bbb8b8;
}

.form-fieldset.nest-1 {
    background: #f1f1f1;
}

.form-fieldset.nest-1 legend {
    background: #888;
    color: #525252;
    background: #fff;
    border: 1px #cccccc solid;
    box-shadow: 0px 2px 1px #e0e0e0;
}