body {
    /* background-color: #f2f2f2; */
}
.mar-l-5 {margin-left: 5px;}
.mar-l-10 {margin-left: 10px;}
.mar-1-15 {margin-left: 15px;}
.mar-b-5 {margin-bottom: 5px;}
.mar-b-10 {margin-bottom: 10px;}
.mar-b-15 {margin-bottom: 15px;}



/*
 * reset & extend bootstrap
 */
.modal {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-animation: all 0.75s 0s linear infinite;
    animation: all 0.75s 0s linear infinite;
}
.btn-black {
    color: #fff;
    background-color: #4c4c4c;
    border-color: #505050;
}
.btn-black:hover,.btn-black:active,.btn-black:visited,.btn-black:focus {
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

/*
 * loading
 */
 @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
  
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
  
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
.loading {
    background-color: #797979;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid #8e8e8e;
    border-bottom-color: transparent;
    height: 25px;
    width: 25px;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite;
}

/*
 * for js
 */
[data-mod] {
    display: none;
}


.form-fieldset {
    padding: 15px;
    border: 1px dashed #ccc;
    border-radius: 3px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    background: #fafafa;
}

legend {
    margin-bottom: 0px;
    border: none;
    font-size: 13px;
    padding: 3px 10px;
    background: none;
    background-color: none;
    display: inline-block;
    width: auto;
    background: #525252;
    color: #fff;
    border-radius: 2px;
    font-weight: normal;
    box-shadow: 0px 1px 2px #bbb8b8;
}

.form-fieldset.nest-1 {
    background: #f1f1f1;
}

.form-fieldset.nest-1 legend {
    background: #888;
    color: #525252;
    background: #fff;
    border: 1px #cccccc solid;
    box-shadow: 0px 2px 1px #e0e0e0;
}